# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
ENV/
.env

# Django stuff
*.sqlite3
/staticfiles/
/media/

# Logs and databases
*.log
*.pot
*.py,cover
.coverage
htmlcov/

# IDEs and editors
.vscode/
.idea/
*.swp

# PyCharm
*.iml

# Mac
.DS_Store 
/logs/__pycache__/admin.cpython-313.pyc
/logs/__pycache__/models.cpython-313.pyc
/logs/__pycache__/urls.cpython-313.pyc
/vl09_web/__pycache__/settings.cpython-313.pyc
