{% extends 'base.html' %}
{% load static %}

{% block title %}Инструкции отправлены{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="auth-form">
            <h2 class="form-title">Инструкции отправлены</h2>
            
            <div class="alert alert-success">
                <p>Мы отправили вам инструкции по сбросу пароля на указанный адрес электронной почты. Если вы не получили письмо, пожалуйста, проверьте папку "Спам" или убедитесь, что вы ввели правильный адрес электронной почты.</p>
            </div>
            
            <div class="d-grid gap-2">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Вернуться на страницу входа</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 