{% extends 'base.html' %}
{% load static %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="auth-form">
            <h2 class="form-title">Пароль изменен</h2>
            
            <div class="alert alert-success">
                <p>Ваш пароль был успешно изменен. Теперь вы можете войти в систему, используя новый пароль.</p>
            </div>
            
            <div class="d-grid gap-2">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary">Войти в систему</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 